.form-row > .btn {
  display: inline-block;
  width: auto;
  background-color: #214bd5;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  border-radius: 25px;
  border: none;
  line-height: 20px;
  text-align: center;
}

.btn:hover {
  background-color: #2b76df;
}
