.form {
  display: inline-block;
  width: 100%;
}

.form::placeholder {
  color: #999;
}

.form-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.form-row span {
  display: inline-block;
  padding: 15px;
  line-height: 20px;
}

.form-row :last-of-type {
  margin-bottom: 0;
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 20px;
  padding-bottom: 10px;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #999;
  padding: 5px;
  line-height: 20px;
  margin-bottom: 15px;
}
