*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
}

.left-column {
  display: inline-block;
  width: 40%;
  background-color: #00afcc;
  float: left;
  padding: 40px;
  background-image: url(../img/gatve.jpg);

  background-position: center;
  background-size: cover;
}

.main-title {
  color: rgb(255, 255, 255);
  font-weight: 500;
  display: inline-block;
  width: 100%;
  font-size: 32px;
}

.terms a {
  color: rgb(255, 255, 255);
  font-weight: 300;
  width: 100%;
  font-size: 14px;
}

.right-column {
  display: inline-block;
  width: 60%;
  background-color: #ffffff;
  float: left;
  padding: 60px;
}

.close-tag {
  color: aliceblue;
  display: inline-block;
}
