*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
}

.left {
  display: inline-block;
  width: 40%;
  background-color: #00afcc;
  float: left;
  padding: 40px;
}

.main-title {
  color: #fff;
}

.right {
  display: inline-block;
  width: 60%;
  background-color: #494eac;
  float: left;
  padding: 60px;
}
