*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  background-color: rgb(42, 40, 40);
}

.background-image {
  filter: blur(1.5rem);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.close-tag {
  color: rgb(44, 111, 170);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}

.container {
  display: inline-block;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-column {
  display: inline-block;
  width: 40%;
  background-color: #00afcc;
  float: left;
  padding: 40px;
  background-image: url(../img/gatve.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 30px;
  top: 30px;
}

.main-title {
  font-weight: 500;
  display: inline-block;
  width: 100%;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.bottom-links {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  bottom: 20px;
  left: 40px;
  right: 40px;
  text-align: center;
}

.bottom-links .link {
  color: #ffffff;
  font-size: 14px;
}

.symbol {
  color: #ffffff;
  font-size: 14px;
}

.right-column {
  width: 60%;
  background-color: #ffffff;
  float: right;
  padding: 60px;
  position: relative;
}

.right-column span {
  display: inline-block;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  line-height: 20px;
  font-size: 18px;
}

.right-column a {
  display: inline-block;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.right-column a:hover {
  text-decoration: underline;
}

.form-row a {
  color: #214bd5;
  font-size: 15px;
}
