*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #00afcc;
}

.container {
  display: inline-block;
  width: 800px;
  margin-top: 80px;
  margin-left: calc(50% - 400px);
  position: relative;
}

.left-column {
  display: inline-block;
  width: 40%;
  background-color: #00afcc;
  float: left;
  padding: 40px;
  background-image: url(../img/gatve.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 30px;
  top: 30px;
}

.main-title {
  font-weight: 500;
  display: inline-block;
  width: 100%;
  font-size: 32px;
}

.terms a {
  display: inline-block;
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 300;

  font-size: 15px;
  bottom: 20px;
  left: 40px;
  right: 40px;
}

.right-column {
  width: 60%;
  background-color: #ffffff;
  float: right;
  padding: 60px;
  position: relative;
}

.close-tag {
  color: rgb(44, 111, 170);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 54px;
  text-align: center;
  font-size: 30px;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}
span {
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
  line-height: 20px;
}

.right-column a {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.right-column a:hover {
  text-decoration: underline;
}
